fastapi
uvicorn
python-multipart
pydantic
sqlalchemy
python-jose[cryptography]
​Locked versions to fix the 'bcrypt' attribute error
​passlib==1.7.4
bcrypt==4.1.2
psycopg2-binary
python-dotenv
gunicorn
email-validator